/* reset */
*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1em;
}
body {
    font-family: Arial, helvetica, sans-serif;
    line-height: 1.4;
}
.container{
    margin: auto;
    width: 60%;
    padding-top: 10px;
}
.container .row{
    margin-left: 0;
    margin-right: 0;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.facebook{
    padding-top: 5px;

}
.facebook h4{
    text-align: left;
    font-size: 18px;
}
.login{
    text-align: center;
}
.cadastro{
    text-align: center;
}
@media (max-width: 600px) {
    .container{
        margin: auto;
        width: 100%;
        padding: 10px;
    }
    .logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
    .facebook{

    }
    .facebook h4{
        text-align: left;
        font-size: 1em;
    }

    .facebook:hover{
        opacity: 1;
    }
}