/* reset */
*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1em;
}
.tabs{

}
.perfil{
    font-size:24px;
    margin-top:30px;
    color: rgb(238, 100, 146);
    font-family: "Roboto", sans-serif;
}
.pesquisar{
    padding-top: 10px;

}
.cabecalho{
    padding-top: 2px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
}
body {
    font-family: Arial, helvetica, sans-serif;
    line-height: 1.4;
    background: rgba(250, 250, 250, 0.36);
}
.container .row{
    margin-left: 0;
    margin-right: 0;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 240px;
}

.collection a.collection-item{
    color: #191919;
    padding: 8px;
}
.collection a.collection-item:not(.active):hover{
    background: #f7f7f7;
}
nav ul a{
    padding: 0 0 0 10px;
}
.login-button{
    margin-bottom: 10px;
    text-align: center;
}
nav .brand-logo{
    margin-top: 10px;
}
.imagem-sobre {
    width: 75%;
    padding-top: 20px;
}
.sobre{
    color: #03A9F4;
    text-align: center;
}

@media only screen and (max-width: 992px){
    nav .brand-logo{
        left: 15%;
    }
}
.botao-index{
    width: 40%;
}
.footer{
    border-top: solid;
    border-top-color: #03A9F4;
    padding: 7px;
    font-size: 18px;
    text-align: right;
    color: #03A9F4;
}
@media (max-width: 400px) {
    .logo{
        width: 150px;
        margin-top: 10px;
    }
    .botao-index{
        width: 70%;
    }
    .imagem-sobre{
        width: 60%;
        padding-top: 20px;
    }
    .sobre{
        color: #03A9F4;
        text-align: center;
    }
    .footer{
        border-top: solid;
        border-top-color: #03A9F4;
        padding: 7px;
        font-size: 18px;
        text-align: center;
        color: #03A9F4;
    }
    .imagem-footer{
        padding-top: 10px;
    }
}
